# Configuración CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# PHP configuración
<IfModule mod_php7.c>
    php_flag display_errors On
    php_value error_reporting E_ALL
</IfModule>